html{
	
	width:100%;
	height: 100%;
}

body{
	margin: 0px;
	background-color: #ddd;
	overflow: hidden;
	margin: 0px;
	width:100%;
	height: 100%;
}
#msg-alert{
	position: fixed;
	bottom: 10px;
	background: #ff0;
	color: #222;
	padding: 5px;
	width: 600px;
	text-align: center;
	border-radius: 10px;
	left: calc( 50% - 300px);
}
#main-container{
	width: 100%;
	/*margin-left: calc(50% - 410px);*/
	height: 100%;
}

#sup-menu{
	width: calc(100% - 10px);
	height: 50px;
	background-color: #fff;
	padding-left: 10px;
}

#container-bts-menu{
	float:left;
	margin-left: 20px;
	margin-top: 5px;
}
.bt-menu{
	
	width: 40px;
	height: calc(100% - 10px);
	float:left;
	border: solid 1px #aaa;
	background-size: 100%;
	border-radius: 5px;
	margin-left: 5px;

}

.bt-menu:hover{
	cursor:pointer;
	background-color: #eee;
	background-repeat:  no-repeat;
}



#logo-menu{
	height: calc(100% - 10px);
	margin-top: 5px;
	float:left;
}


#bt-run{
	background-image: url("../icon-bt-run.png");
}

#bt-code{
	background-image: url("../icon-bt-code.png");
}

#container-user-menu{
	float:right;
	width: 150px;
	height: 100%;
	margin-right: 10px;
}

#container-user-menu div{
	float:right;
	margin-left: 10px;
}
#container-msg-menu{
	float:left;
	margin-left: 10px;
	position: relative;
	top: 15px;
	color: #999;
	width: 600px;
	
}

#title-project{
	color: #000;
	font-weight: bold;
	font-size: 20px;
	max-width: 350px;
	font-family: Arial;
	border: solid 2px #fff;
	border-radius: 5px;
	padding-left: 1px;	
}
#title-project:hover{
	border: solid 2px #aaa;
}

#title-project:focus{
	border: solid 2px #1A6666;
	outline: none;
}
#profile-user-menu{
	background-color: #eee;
	background-image: url("../profile.png");
	background-size: 100%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

#name-user-menu{
	height: 20px;
	width: 80px;
	font-size: 12px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold; 
	margin-top: 10px;
}



#block-scroll{
	font-family: Courier New;
	height: calc(100% - 80px);
	width: 290px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	padding: 5px;
	background-color: #fff;
	
}

#block-scroll input{
    background-image: none;
	border: 1px solid #000;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}


#block-scroll button{
    background-image: none;
	border: none;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #189ecc;
	color: #fff;
}

#block-scroll button:hover{
	cursor: pointer;
	background-color: #33b2dd;
}
#block-scroll #line{
	height: 1px;
	width: 100%;
	border-top: 1px solid #aaa;
}

#block-scroll #name-block{
	font-weight: bold;	
	font-family: "Arial";
}
#container-canvas{
	float: left;
	width: 100%;
	height:100%;
	overflow: scroll;
	
}
#canv-flow{
	border: 1px solid #888;
	background-color: #fff;
	
	background-image: url("../src/images/bg.png");
	background-size: 100px;	
}

#menu-icons{
	position: fixed; 
	top: 60px;
	height: 300px;
	width: 40px;
	margin-left: 5px;
	float:left;
	background-color: #108B93;
	border-radius: 10px;
	border: solid 1px #1A6666;
	margin-right: 5px;
	padding: 2px;
	padding-top: 8px;
}

#submenu-icons{
	position: fixed; 
	top: 70px;
	left: 50px;
	display: none;
}

.bt-menu-icons{
	width: calc(100% - 2px);
	height: 40px;
	border-radius: 2px;
	border: solid 1px #11B8BC;
	margin-bottom: 5px;
	background-size: contain;
	
}

.bt-menu-icons:hover{
	background-color: #11B8BC;
	cursor: pointer;
}


.bt-submenu-icons{
	
	width:40px;
	height:40px;
	float:left;
	border-radius:2px;
	border: solid 1px #11B8BC;
	margin-bottom: 5px;
	background-size: contain;
	background-color: #108B93;
	margin-left: 2px;
	box-shadow: 4px 4px 5px grey;
}

.bt-submenu-icons:hover{
	background-color: #11B8BC;
	cursor: pointer;
}

.disable{
	background-color: #efefef !important;	
}

#container-code{
	width: 500px;
	height: calc(100% - 80px);
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #888;
	background-color: #fff;
	float: left;
	
}


#bt-geratecode{
	background-color: #f40e3c !important;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
}
#bt-geratecode:hover{
	background-color: #ef3258 !important;
}

#bt-new-block{
	background-image: url("../icon_createnew.png");	
}


#bt-connect-link{
	background-image: url("../icon_connectline.png");	
}


#bt-connect-block{
	background-image: url("../icon_connectblock.png");	
}

#bt-delete-link{
	background-image: url("../icon_deletelink.png");	
}


#bt-delete-block{
	background-image: url("../icon_deleteblock.png");	
}


#bt-new-process{
	background-image: url("../icon_createnewprocess.png");	
}


#bt-new-decision{
	background-image: url("../icon_createnewdecision.png");	
}


#bt-new-conection{
	background-image: url("../icon_createnewconection.png");	
}

#bt-new-end{
	background-image: url("../icon_createnewend.png");	
}

#bt-new-start{
	background-image: url("../icon_createnewstart.png");	
}


#bt-new-input{
	background-image: url("../icon_createnewinput.png");	
}


#bt-new-output{
	background-image: url("../icon_createnewoutput.png");	
}

.bt-zoom{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #1A6666;
	background-size: 30px;
	background-position: 10px;
	background-repeat: no-repeat;
	box-shadow: 2px 4px 5px grey;
}
.bt-zoom:hover{
	background-color:#108B93;
	cursor: pointer;
}

#bt-zoom-in{
	position: absolute;
	bottom: 40px;
	right: 40px;
	background-image: url("../bt-zoom-in.png");

}

#bt-zoom-out{
	position: absolute;
	bottom: 40px;
	right: 100px;
	background-image: url("../bt-zoom-out.png");
	
	
}
